<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Q-Learning</a>
        <div class="direita">
            <p>UCS - INTELIGENCIA ARTIFICIAL I</p>
            <p>CESAR AUGUSTO GRAEFF</p>
            <p>MATHEUS FEIJÓ FERREIRA GUIMARÃES</p>
        </div>
    </div>
</nav>

<div class="container">

    <div class="form">
        <div class="row">
            <div class="col">
                <h1 class="page-header">
                    <i class="material-icons">play_arrow</i>
                    Posição Inicial
                </h1>
                <div class="form-group text-center">
                    <label>Posição X</label>
                    <input class="form-control form-control-sm text-center" type="text" [(ngModel)]="posicaoIniY" [disabled]="executando" />
                </div>
                <div class="form-group text-center">
                    <label>Posição Y</label>
                    <input class="form-control form-control-sm text-center" type="text" [(ngModel)]="posicaoIniX" [disabled]="executando" />
                </div>
                <h1 class="page-header">
                    <i class="material-icons icon-animate">sync</i>
                    Episódios Executados
                </h1>
                <div class="row">
                    <div class="col text-center">
                        {{ep}}
                    </div>
                </div>
            </div>
            <div class="col">
                <h1 class="page-header">
                    <i class="material-icons">settings</i>
                    Parâmetros
                </h1>
                <div class="form-group text-center">
                    <label>Episódios</label>
                    <input class="form-control form-control-sm text-center" type="text" [(ngModel)]="iteracoes" [disabled]="executando" />
                </div>
                <div class="form-group text-center">
                    <label>Valor Randômico</label>
                    <input class="form-control form-control-sm text-center" type="text" [(ngModel)]="randomico" [disabled]="executando" />
                </div>

                <div class="form-group text-center">
                    <label>Taxa Propagação</label>
                    <input class="form-control form-control-sm text-center" type="text" [(ngModel)]="propagacao" [disabled]="executando" />
                </div>

                <div class="form-group text-center">
                    <label>Taxa de conversão</label>
                    <input class="form-control form-control-sm text-center" type="text" [(ngModel)]="taxaConverge" [disabled]="executando" />
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="!executando">
        <div class="col">
            <button class="btn btn-block btn-success text-white mb-4" (click)="iniciar()">
                <i class="material-icons text-white float-left">play_arrow</i>
                INICIAR
            </button>
        </div>
    </div>

    <div class="row" *ngIf="executando">
        <div class="col text-center p-4">
            <i class="material-icons icon-animate" style="font-size: 30px;">refresh</i>
            <p><b>Executando ...</b></p>
        </div>
    </div>

    <div class="tabuleiro">
        <div class="row row-center" *ngFor="let I of M; let i = index">
            <div class="index">{{i}}</div>
            <div class="col text-center" 
                *ngFor="let item of I; let j = index"
                [ngClass]="{
                    black : item == -100,
                    final : posicaoFimY == j && posicaoFimX == i,
                    inicial : posicaoIniY == j && posicaoIniX == i,
                    blue : item == -1,
                    orange : item == 1000
                }">
                {{''+i+j}}
            </div>
        </div>
        <div class="row indice">
            <div class="index">x</div>
            <div class="col" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]">
                {{i}}
            </div>
        </div>
    </div>


    <div class="row p-4">
        <div class="col">
            <h1 class="page-header pb-4">
                <i class="material-icons">list</i>
                Tabela Q
            </h1>

            <table class="table table-striped">
                <tr>
                    <th>Bloco</th>
                    <th>Ação</th>
                    <th>Valor</th>
                </tr>
                <tr *ngFor="let q of objectKeys(Q)">
                    <td>
                        {{q.substring(0,2)}}

                    </td>
                    <td>
                        <i class="material-icons" *ngIf="q.substring(2,4) == 'UP'">arrow_upward</i>
                        <i class="material-icons" *ngIf="q.substring(2,4) == 'LF'">arrow_back</i>
                        <i class="material-icons" *ngIf="q.substring(2,4) == 'RG'">arrow_forward</i>
                        <i class="material-icons" *ngIf="q.substring(2,4) == 'DW'">arrow_downward</i>
                    </td>
                    <td>
                        {{Q[q]}}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    

</div>
